.left, .right {
	width: 50%;
	float: left;
}
img {
	width: 100%;
}
table {
	width: 100%;
}
table, th, td {
	border: 1.5px solid black;
	font-size: 15px;
}
@media screen and (max-width: 768px) {
	.left, .right {
		float: none;
		width: 100%;
	}
}